@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
  font-family: 'Do Hyeon', sans-serif;
}

#registerBox > h1 {
  margin: 0 auto;
  margin-bottom: 25px;
}

#registerBox {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;

  border: 2px solid #ddd;
  border-radius: 20px;

  box-shadow: 1px 1px 5px #ddd;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#registerBtn {
  width: 200px;
  margin: 0 auto;
}

#loginBox > h1 {
  margin: 0 auto;
  margin-bottom: 25px;
}

#loginBox {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;

  border: 2px solid #ddd;
  border-radius: 20px;

  box-shadow: 1px 1px 5px #ddd;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#loginBtn {
  width: 200px;
  margin: 0 auto;
}

#addProductBox > h1 {
  margin: 0 auto;
  margin-bottom: 25px;
}

#addProductBox {
  width: 500px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 20px;

  border: 2px solid #ddd;
  border-radius: 20px;

  box-shadow: 1px 1px 5px #ddd;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#inputDesc {
  height: 150px;
}

#addProductBtn {
  width: 200px;
  margin: 0 auto;
}

#productsBox {
  width: 1800px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 50px;

  border: 2px solid #ddd;
  border-radius: 20px;

  box-shadow: 1px 1px 5px #ddd;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#productsBox > h1 {
  margin-bottom: 20px;
}

#productsBox > #itemsHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
  border-bottom: 2px solid #000;
}

.itemName,
.itemImage,
.itemPrice,
.itemDesc,
.itemQuantity,
.itemEdit,
.orderUser,
.orderStatus {
  width: 150px;
  text-align: center;
}

#productsBox > .items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
}

#productsBox > .items > .itemImage > img {
  width: 100%;
}

#editProductBtn {
  width: 200px;
  margin: 0 auto;
}

#orderBox {
  width: 1800px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 50px;

  border: 2px solid #ddd;
  border-radius: 20px;

  box-shadow: 1px 1px 5px #ddd;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#orderBox > h1 {
  margin-bottom: 20px;
}

#orderBox > #itemsHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
  border-bottom: 2px solid #000;
}

#orderBox > .items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
}

#orderBox > .items > .itemImage > img {
  width: 100%;
}
