@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
  font-family: 'Do Hyeon', sans-serif;
}
h1{
  margin-top: 40px;
}
hr{
  border:solid 1px;
}
.products-main{
  /* border: 2px solid lavender; */
  width: 1470px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;

}
.main-css{
  max-width:1450px;
  margin : 100px 0px 0px 220px;
  display: flex;
  justify-content: space-between;
 
}

.products-img{
  margin: 0px 50px 50px 0px;
  text-align: center;
  font-size: large;
}
.btn-css{
  width: 350px;
  height: 100px;
}
.btn-css2{
  margin-top: 10px;
}
.my-btn{
  width:100px
}

.products-detail-div{
  /* border: 2px solid lavender; */
  width: 900px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}
.products-detail{
  /* border: 2px solid lavender; */
  width:400px;
  margin-top: 220px;
}
.products-detail-form{
  width:320px;
  height: 50px;
  text-align: center;
  margin-bottom: 20px;
}
.products-detail-form-description{
  width:770px;
  height: 200px;
  text-align: center;
}
.products-detail-btn-div{
  /* border: 2px solid lavender;  */
  width: 800px;
  margin-left: 510px;
  display: flex;
}
.products-detail-btn{
  width: 380px;
  height: 50px;
  margin-right: 10px;
  margin-top: 30px;
}

#registerBox > h1 {
  margin: 0 auto;
  margin-bottom: 25px;
}

#registerBox {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;

  border: 2px solid lavender;
  border-radius: 20px;

  box-shadow: 3px 3px 5px lavender;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#registerBtn {
  width: 200px;
  margin: 0 auto;
}

#loginBox > h1 {
  margin: 0 auto;
  margin-bottom: 25px;
}

#loginBox {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;

  border: 2px solid lavender;
  border-radius: 20px;

  box-shadow: 3px 3px 5px lavender;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#loginBtn {
  width: 200px;
  margin: 0 auto;
}
