@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
  font-family: 'Do Hyeon', sans-serif;
}


#orderBox > h1 {
  margin: 0 auto;
  margin-bottom: 25px;
}

#orderBox {
  width: 900px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;

  border: 2px solid lavender;
  border-radius: 20px;

  box-shadow: 3px 3px 5px lavender;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container1 {
  display: flex;
  height: 100px;
}
.container2 {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
}
.container3 {
  display: flex;
}
.container3 > h2{
  width:250px;
  margin-left: 30px;
}
.img {
  width: 200px;;
}
.name {
  width: 400px;
}
.price {
  width: 150px;
}
.quantity {
  width: 150px;
}
.productPrice {
  width: 200px;
}

#orderBtn {
  width: 120px;
  margin: 0 auto;
}
